@{
    ViewData["Title"] = "Login";
}
<h1><center>Welcome Customer!</center></h1>
<h2><center>Member Login</center></h2>

<p><center><font color="red">@TempData["Message"]</font></center></p>


<form action="/Login/Login" method="post">
    <div style="text-align:center">
        <div class="my_tbl">
            <div class="my_row">

                <div class="my_cell">
                    <b>Username</b> <input name="username" />
                </div>
            </div>
            <br />
            <div class="my_row">

                <div class="my_cell">

                    <b>Password</b>  <input name="password" type="password" />
                </div>
            </div>
            <div class="my_row">
                <div class="my_cell"></div>
                <br />
                <div class="my_cell" style="text-align: center">
                    <input type="submit" value="Login Member " class="btn btn-primary" id="Loginbutton"/>
                    <br />
                    <br />


                </div>
            </div>
        </div>
    </div>
</form>



<!--New user Registration
-->



<form action="/Login/Newusersignup" method="post">
    <div class="my_cell" style="text-align: center">

        <div class="my_cell" style="text-align: center">
            <input type="submit" value=" Sign-up  " class="btn btn-primary" id="Loginbutton"/>
        </div>


    </div>

</form>
