
@{
    string customerName = ViewBag.CurrentUserName;
    ViewData["Title"] = "Shopping Cart: " + customerName;
    List<Product> productsinCart = ViewBag.ProductsInCart;
    Dictionary<Product, int> countOfItems = ViewBag.CountOfItems;

}

<div class="text-center">
    <h1>Welcome @(customerName)!</h1>

    <h3>Products</h3>
    <table class="text-center">
        @{
            foreach (KeyValuePair<Product, int> pair in countOfItems)
            {
                <tr>
                    <td>@pair.Value</td>
                    <td>@pair.Key.ProductName</td>
                    <td>@pair.Key.Price</td>
                </tr>
            }
        }

    </table>
   
    <form action="/Cart/Checkout" method="post">
        <button type="submit">Checkout</button>
    </form>
</div>
