@{ 

    ViewData["Title"] = "Product";
    Product product = (Product)ViewData["product"];

    }

<div class="text-center">
<h1 class="display-4">Products</h1>
<p>@product.ProductName </p>
<p>@product.Description </p>
<p>@product.ImagePath </p>
    
</div>